:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #21BB8B;
  --dark-green: #528990;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #eeeeee;
  --gray-dark: #C4C4C4;
  --primary: #18A0FB;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #182A3A;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.bg-dark {
  background-color: var(--dark) !important;
}

html,
body {
  height: 100%;
  background: #FBFBFB;
  font-family: Lato;
}

h1 {
  font-size: 1.35rem;
  padding-top: 1rem;
  font-weight: bold;
}

p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}


a:hover {
  color:var(--dark);
}

.card {
  color: black;
  text-align: left;
  background: var(--gray);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  padding:2rem;
  margin-top: 1rem;
}

.card-body {
  padding-top: .5rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

.card-body-about {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}



.card-title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.4rem;
  padding-left: 1rem;
  padding-top: .5rem;
}

.navbar-brand{
  font-family: Grenze;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  width: 30vw;
  min-width: 21rem;
  min-height: 100vh;
  background: var(--gray-dark);
}

.nav-link {
  /* Title */
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #000000;
  margin-top: 1rem;
  padding-left: calc(1rem + 15px);
}

.nav-link.active {
  /* Title */
  background: var(--green);
}

#content{
  padding-top: calc(4rem + 16px);
  padding-left: 2rem;
  padding-right:3rem;
}

.table{
  margin-bottom: 0px;
}

.table-active{
  background: var(--dark-green);
  color:var(--white)
}

.table-card{
  margin: 1rem 0;
  padding:0;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.1rem;
}

.review-select td{
 border-bottom-width: 0px !important;
}

.review-select-text{
  padding-left: 1.5rem !important;
}

.review-select-number{
  text-align: right;
  min-width: 2.5rem;
}

.admin-review-card {
  padding-top: 1rem;
}

input[type=submit]{
  background: #18A0FB !important;
  border-radius: 90px !important;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: .9rem;
  line-height: 2rem;
  border-width: 0px;
  outline:none;
  /* identical to box height */

  text-align: center;
  color: #FFFFFF;
}


.score-table thead th{
  font-style: italic;
  font-weight: normal;
  font-size: .8rem;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.score-table{
  font-size: .8rem;
}

.score-table td{
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.score-table.table>:not(caption)>*>* {
  border-bottom-width: 0px;
}

.admin-heading {
  margin-bottom: 0rem;
}

.admin-hr {
  /*width: 33%;*/
  text-align: left;
}

.admin-add-subtract {
  color:var(--secondary);
  padding: 0px !important;
}

#review-area{
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 0rem 2rem 2rem 4rem;
  background: var(--white);
}

.agency-name{
  /* Title */
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  color: #528990;
  font-size: 1.55rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gtfs-progress-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  margin-top: 3rem;
  font-style: italic;
  font-family: Lato;
}

.progress-bar{
  background-color: var(--green);
}

.progress-table-container{
  max-height: calc(100vh - 250px);
}

@media only screen and (max-height: 700px) {
  #evaluation_logo {
    display: none;
  }
}

@media only screen and (min-height: 850px) {
  .progress-table{
    padding-left: 3vw !important;
    font-size: 1.5rem !important;
    line-height: calc(1.5rem + 2vh) !important;
  }
  .progress-table-name{
    padding-left: 1.2vw !important;
    height: calc(1.5rem + 2vh) !important;
  }

  .number-circle {
    width: calc(1.5rem + 2vh) !important;
    height: calc(1.5rem + 2vh) !important;
    line-height: calc(1.5rem + 2vh - 6px) !important;
  }

}

.progress-table{
  display: table;
  padding-left: 3vw;
  font-family: Lato;
  font-size: 1.2rem;
  color: var(--dark-green);
  line-height: calc(1.2rem + 1.5vh);
}

.progress-table-row {
  display: table-row;
}

.progress-table-number{
  display:table-cell;
  /*width: calc(1.2rem + 1.5vh);*/
  /*height: calc(1.2rem + 1.5vh);*/
  text-align: center;
  margin: auto;
}

.progress-table-name{
  display:table-cell;
  padding-left: 1.2vw;
  height: calc(1.2rem + 1.5vh);
}

.number-circle {
  display:block;
  width: calc(1.2rem + 1.5vh);
  height: calc(1.2rem + 1.5vh);
  border-radius:50%;
  border:3px solid var(--green);
  margin:auto;
  line-height: calc(1.2rem + 1.5vh - 6px);
  text-align:center
}

.review-card{
  margin-top: 0rem;
  padding: .75rem;
  border-radius: 2.5rem;
}

.review-card-body{
  padding: .75rem !important;
}

.review-card p{
  margin-bottom: 0rem;
}

.review-text-field {
  font-weight: bold;
  margin-left: 2rem;
  margin-right: 2rem;
}

.score-card{
  padding: .75rem;
  border-radius: 2.5rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.score-card:hover{

  cursor: pointer;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.6);
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.selected-score-card{
  background: var(--primary);
}


.score-number{
  font-size: 2.5rem;
  text-align: center;
}

.score-text{

}

.score-card-body{
  padding: .5rem;
}

.custom-select-sm {
  display: inline;
  max-width: 100px!important;
}

.score-id-form-field {
  display: none;
}

label:empty { display: none; }

.img-fluid {
  max-width: 100%;
  height: auto
}

.feed-portion-form {
  padding-left: 0rem !important;
}

.evaluate-new-feed-card {
  padding-top: .5rem;
  padding-bottom: 0rem;
}

.btn {
  line-height: 1.5 !important;
  font-weight: lighter !important;
  font-size: .85rem !important;
}

.review-heading p{

}