{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head_content %}
    <link rel="stylesheet" href="{% static 'css/file_upload_styles.css' %}">
{% endblock %}

{% block page_content %}
    <div style="display: none">
    {% if previous_review_path %}
        <a href="{{ previous_review_path }}">Previous</a>
    {% endif %}
    {% if next_review_path %}
        <a href="{{ next_review_path }}">Next</a>
    {% endif %}
    </div>
    <div class="container-fluid w-100 h-100" >
        <div class="row">
            <div id="review-area" class="col-9" style="height: 100%">
                <h1>{{ active_review_category.gtfs_field.field_name_to_label }} ({{ active_result_number }}/{{ max_items }})</h1>
                <p><b>Evaluate This Element</b></p>
                <p>Find this element in another resource published by the agency, such as their website or printed schedule.</p>
                {% include review_widget_template %}

                <p>Can’t find this element in another source? <a href="{% url 'skip_it_replace_result' active_result.id %}">Skip it</a>
                    and try another.</p>
                <hr>
                <p><b>Select a Score</b></p>
                <p>Examine the element above and determine how consistently it matches other sources.</p>
                {% include result_capture_template %}
            </div>

            <div class="d-flex align-items-start flex-column col-3" style="height: 100vh; min-width: 250px; position: fixed; top:0px;right: 0px">
                <div class="p-2 bd-highlight" style="height: 275px; width: 100%">
                    <h2 class="agency-name">{{ active_review.agency }}</h2>
                    <div class="gtfs-progress-bar">
                        {{ percentage_complete }}% complete
                        <div class="progress" style="height:20px">
                            <div class="progress-bar" style="width:{{ percentage_complete }}%;height:20px"></div>
                        </div>
                    </div>
                    <hr style="margin-top: 2.5rem">
                </div>

                <div class="p-2 mb-auto mt-auto progress-table-container" style="width: 100%">
                    <div class="progress-table">
                        {% for cat in review_categories %}
                            {% if cat.id == active_review_category.id %}
                                <div class="progress-table-row">
                                    <div class="progress-table-number number-circle">{{ forloop.counter }}</div>
                                    <div class="progress-table-name">{{ cat.gtfs_field.name | field_name_to_label }}</div>
                                </div>
                            {% else %}
                                <div class="progress-table-row">
                                    <div class="progress-table-number">{{ forloop.counter }}</div>
                                    <div class="progress-table-name">{{ cat.gtfs_field.name | field_name_to_label }}</div>
                                </div>
                            {% endif %}
                            {% if forloop.last %}
                                <div class="progress-table-row">
                                    <div class="progress-table-number">{{ forloop.counter | plus1 }}</div>
                                    <div class="progress-table-name">Review</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div id="evaluation_logo" class="p-2" style="height:200px; width:100%">
                    <hr>
                    <img src="{% static 'sequia_with_text.svg' %}" class="mx-auto d-block" style="margin-bottom: 5rem">

                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block end_js %}
    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker()
        });
    </script>
    <script>
        const scoreCards = document.getElementsByClassName("score-card");
        const scoreIdFormField = document.getElementById('id_score_id');

        function onScoreClick() {
            if(this.classList.contains('selected-score-card')){
                this.classList.remove('selected-score-card');
                scoreIdFormField.value = null;
                return
            }
            let scoreId = this.getAttribute('data-scoreId');
            scoreIdFormField.value = scoreId;
            for (let i = 0; i < scoreCards.length; i++) {
                scoreCards[i].classList.remove("selected-score-card");
            }
            this.classList.add("selected-score-card");
        }
        for (let i = 0; i < scoreCards.length; i++) {
            scoreCards[i].addEventListener('click', onScoreClick, false);
        }
    </script>

{% endblock %}
