{% extends "base.html" %}
{% load static %}



{% block head_content %}
    <link rel="stylesheet" href="{% static 'css/file_upload_styles.css' %}">
{% endblock %}

{% block content %}


    <main role="main" class="inner cover">
        <h1 class="cover-heading">Upload your GTFS file</h1>
        <p class="lead">To get started please upload a GTFS zip file</p>
        <div class="container p-y-1">
            <div class="row m-b-1">
                <div class="col-sm-10 offset-sm-1">
                    <form action="/post_gtfs_zip/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group inputDnD">
                            <label class="sr-only" for="id_file">File Upload</label>
                            <input type="file" name="file" class="form-control-file text-primary font-weight-bold" id="id_file" accept=".zip" onchange="readUrl(this)" data-title="Drag and drop a file" required>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block">Upload GTFS</input>
                    </form>
                </div>
            </div>
        </div>
    </main>


{% endblock %}

{% block end_js %}
    <script>
        function readUrl(input) {

            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = (e) => {
                    let imgData = e.target.result;
                    let imgName = input.files[0].name;
                    input.setAttribute("data-title", imgName);
                    console.log(e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }

        }
    </script>
{% endblock %}